@import url('zodiak.css');

html {
  height: 100%;
}

body {
  background-size: cover;
  margin: 0;
  background-repeat: no-repeat;
  font-family: 'Zodiak-Regular';
}

/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: 10% repeat(2, 1fr) 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 50px 0 50px 0; 
}

/* Widgets */
section {
  background: lightgray;
  background: #FFF;
  border-radius: 1rem;
  background: linear-gradient(135deg, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
  backdrop-filter: blur(0.5rem);
  /* Relative Parent. Absolute Child */
  position: relative;
  box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.34);
  border: solid 1px rgba(255, 255, 255, 0.34);
}

.center {
text-align: center;
}

h1 {
  font-size: 3em;
font-family: 'Zodiak-Bold';
margin: 0;
padding-bottom: 30px;
}

/* Time */
.time {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

time {
  font-size: 2em;
}

/* Date */
.date {
  grid-area:  1 / 3 / 2 / 4;
  text-align: center;
}

/* Weather */
.weather {
  grid-area:  2 / 2 / 3 / 4;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.city, .temp {
  font-size: 2em;
}

.description {
  display: flex;
  justify-content: center;
  font-family: 'Zodiak-Light';
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 50px;
}